<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Hello Spring Security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged in user: <span sec:authentication="name"></span> |
            Privileges: <span sec:authentication="principal.authorities"></span>
            <div>
                <form action="#" th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
        <h1>Welcome to the home page</h1>
        <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
        <ul>
            <li>Go to the <a th:href="@{/admin/index}">admin panel</a></li>
            <li>Go to the <a th:href="@{/user/index}">user page (calculator)</a></li>
            <li>Go to the <a th:href="@{/register}">register page</a></li>
            <li>Go to the <a th:href="@{/login}">login page</a></li>
            <li>See the <a th:href="@{/all}">list of all users</a></li>
        </ul>
    </body>
</html>

